@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    .col_left.mob_show
    {
        display: block;
    }



    /*----------
        Menu
    ----------*/
    .menu
    {
        border: none;
    }

    .menu:after
    {
        display: none;
    }


    .menu > * a span
    {
        display: block;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*-------------------
        Mob. all link
    -------------------*/
    .mob_all_link
    {
        display: block;
    }



    /*------------------
        Notification
    ------------------*/
    .notification
    {
        padding: 10px 10px 10px 8px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head,
    .page_head.big_m
    {
        margin-bottom: 24px;
    }


    .page_head .links.mob_list
    {
        overflow: visible;

        width: 100%;
        margin: 29px 0 0;
        padding: 0;
    }


    .page_head .links.mob_list > *
    {
        display: block;

        width: 100%;
    }

    .page_head .links.mob_list > * + *
    {
        margin-top: 20px;
        margin-left: 0;
    }


    .page_head .links.mob_list a
    {
        justify-content: center;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .all_link
    {
        display: none;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3
    {
        width: calc(100% - var(--form_columns_offset));
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        width: calc(50% - 40px);
    }

    .advantages .item:nth-child(3n+1):before
    {
        display: block;
    }

    .advantages .item:nth-child(2n):before
    {
        display: none;
    }



    /*--------------
        Partners
    --------------*/
    .partners .swiper-slide
    {
        width: 120px;
    }


    .partners .item
    {
        height: 45px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-left: 0;
    }

    .articles .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .articles .swiper-slide
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }

    .articles .mob_slider .swiper-slide
    {
        width: 250px;
    }



    /*------------------
        Article head
    ------------------*/
    .article_head .info
    {
        padding: 10px;
    }


    .article_head .share
    {
        margin-top: 16px;
        margin-left: -10px;
    }


    .article_head .share > *
    {
        margin-left: 10px;
    }


    .article_head .share img
    {
        width: 40px;
        height: 40px;
    }



    /*------------------
        Has question
    ------------------*/
    .has_question .data
    {
        padding: 10px;
    }



    /*----------------
        About data
    ----------------*/
    .about_data .data
    {
        padding: 10px;
    }


    .about_data .image
    {
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .about_data .image:before
    {
        right: 0;
        left: auto;

        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }



    /*----------------
        Categories
    ----------------*/
    .categories .row
    {
        justify-content: space-between;

        margin-left: 0;
    }


    .categories .category
    {
        width: calc(50% - 12px);
        margin-left: 0;
    }


    .categories .sep:nth-child(4),
    .categories .sep:nth-child(12)
    {
        width: calc(100% - 24px);
        height: 1px;
        margin-right: 0;
        margin-left: 24px;

        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    }


    .categories .category .icon
    {
        width: 45px;
        height: 45px;
    }



    /*----------------------
        About advantages
    ----------------------*/
    .about_advantages .row > *
    {
        width: calc(50% - 40px);
    }

    .about_advantages .row > *:nth-child(3n+1):before
    {
        display: block;
    }

    .about_advantages .row > *:nth-child(2n+1):before
    {
        display: none;
    }



    /*--------------
        Services
    --------------*/
    .services .row
    {
        margin-left: 0;
    }

    .services .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .services .service .info
    {
        padding: 10px;

        border-radius: 5px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
    }


    .services .service .name
    {
        font-size: 17px;
        line-height: 19px;

        min-height: 40px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .swiper-slide
    {
        width: 250px;
    }


    .reviews .review_wrap,
    .reviews .review
    {
        padding: 10px;
    }


    .reviews .review .rating
    {
        width: 100%;
        margin-top: 4px;
        margin-left: 0;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info .data
    {
        padding: 10px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .steps
    {
        display: block;
        overflow: auto;

        width: calc(100% + 30px);
        margin-right: -15px;
        margin-bottom: 0;
        margin-left: -15px;
        padding: 0 15px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .cart_info .steps::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .cart_info .steps::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .cart_info .steps > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }


    .cart_info .list
    {
        margin-left: 0;
    }

    .cart_info .list > *
    {
        width: 100%;
        margin-left: 0;
    }


    .cart_info .delivery,
    .cart_info .cart_total,
    .cart_info .quike_order
    {
        padding: 10px;
    }


    .cart_info .order_info .data > *
    {
        padding: 10px;
    }


    .cart_info .order_delivery .section
    {
        padding: 10px;
    }



    /*-------------------
        Category desc
    -------------------*/
    .category_desc
    {
        padding: 10px;
    }


    .category_desc .text_block
    {
        overflow: hidden;

        height: 83px;
    }

    .category_desc .text_block.show
    {
        height: auto;
    }


    .category_desc .mob_spoler_btn
    {
        display: inline-block;

        vertical-align: top;
    }



    /*--------------
        Products
    --------------*/
    .products .row
    {
        margin-left: 0;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .products .product .actions_btn
    {
        display: flex;
    }



    /*--------------
        Checkout
    --------------*/
    .checkout .section
    {
        padding: 10px 10px 1px 10px;
    }

    .checkout .delivery_price
    {
        padding-bottom: 10px;
    }



    /*----------------------
        Checkout success
    ----------------------*/
    .checkout_success .data
    {
        padding: 10px;
    }



    /*------------------
        Compare info
    ------------------*/
    .compare_info .sticky_products_wrap,
    .compare_info .compare_products,
    .compare_info .filter
    {
        display: none;
    }


    .compare_info .mob_filter
    {
        display: block;
    }


    .compare_info .mob_version
    {
        display: flex;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .map
    {
        min-height: 250px;
    }


    .contacts_info .hot_to_get
    {
        align-content: flex-start;
        align-items: flex-start;

        padding: 10px;
    }


    .contacts_info .hot_to_get .icon + *
    {
        width: calc(100% - 90px);
    }


    .contacts_info .text
    {
        padding: 10px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .swiper-slide
    {
        width: 263px;
    }



    /*-------------------
        Delivery info
    -------------------*/
    .delivery_info .data
    {
        padding: 10px;
    }



    /*------------------
        Payment info
    ------------------*/
    .payment_info .row
    {
        margin-left: 0;
    }

    .payment_info .row > *.item
    {
        width: 100%;
        margin-left: 0;
    }


    .payment_info .sep
    {
        width: 100%;
        height: 1px;

        background: linear-gradient(to right,  rgba(16, 224, 72,0) 0%,rgba(16, 224, 72,1) 50%,rgba(16, 224, 72,0) 100%);
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .description
    {
        padding: 10px;
    }



    /*----------------
        Add review
    ----------------*/
    .add_review
    {
        padding: 10px;
    }



    /*------------
        Laying
    ------------*/
    .laying
    {
        padding: 10px;
    }


    .laying .row
    {
        margin-bottom: -10px;
    }

    .laying .row > *
    {
        margin-bottom: 10px;
    }


    .laying .item
    {
        padding: 10px;
    }



    /*---------------
        Sale info
    ---------------*/
    .sale_info .text_block
    {
        padding: 10px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .service_advantages .row
    {
        flex-wrap: wrap;
    }

    .service_info .service_advantages .row > * + *
    {
        margin-top: 20px;
        margin-left: 0;
    }


    .service_info .service_advantages .sep
    {
        width: 100%;
        height: 1px;

        background: linear-gradient(to right,  rgba(16, 224, 72,0) 0%,rgba(16, 224, 72,1) 50%,rgba(16, 224, 72,0) 100%);
    }


    .service_info .row .data
    {
        padding: 10px;
    }


    .service_info .price_formed,
    .service_info .price_formed .row > *
    {
        padding: 10px;
    }


    .service_info .question
    {
        padding: 20px;
    }

    .service_info .question:before
    {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }


    .service_info .work_stages .row
    {
        margin-bottom: -40px;
        margin-left: 0;
    }

    .service_info .work_stages .row > *
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }

    .service_info .work_stages .row > *:before
    {
        top: -20px;
        right: 0;

        width: 100%;
        height: 1px;
        margin: 0;

        background: linear-gradient(to right,  rgba(16, 224, 72,0) 0%,rgba(16, 224, 72,1) 50%,rgba(16, 224, 72,0) 100%);
    }

    .service_info .work_stages .row > *:nth-child(4n+1):before
    {
        display: block;
    }


    .service_info .main_advantages .row
    {
        margin-bottom: -40px;
        margin-left: 0;
    }

    .service_info .main_advantages .row > *
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }

    .service_info .main_advantages .row > * + *:before
    {
        top: -20px;
        right: 0;

        width: 100%;
        height: 1px;
        margin: 0;

        background: linear-gradient(to right,  rgba(16, 224, 72,0) 0%,rgba(16, 224, 72,1) 50%,rgba(16, 224, 72,0) 100%);
    }

    .service_info .main_advantages .row > *:nth-child(3n+1):before
    {
        display: block;
    }


    .services_info .data
    {
        padding: 10px;
    }



    /*------------------------
        Service order form
    ------------------------*/
    .service_order_form .service .info
    {
        padding: 10px;
    }


    .service_order_form .form
    {
        padding: 10px;
    }


    .service_order_form .form .row > *
    {
        width: 100%;
    }



    /*------------
        Useful
    ------------*/
    .useful .text_block
    {
        padding: 10px;
    }



    .product_info .buy .label
    {
        position: relative;
    }


    .product_info .buy .tooltip
    {
        position: static;
    }


    .product_info .buy .tooltip .text
    {
        width: calc(100% + 40px);
        margin-top: 4px;

        text-align: center;
    }

    .product_info .buy .tooltip .text:before
    {
        display: none;
    }



    /*------------
        Footer
    ------------*/
    footer .contacts .col
    {
        order: 2;

        width: 100%;
        margin-top: 20px;
    }

    footer .contacts .col + .col
    {
        order: 1;

        margin-top: 0;
    }


    footer .contacts .col .label
    {
        line-height: normal;
    }


    footer .links
    {
        width: 100%;
    }


    footer .sep.mob_hor,
    footer .links + .sep
    {
        width: 100%;
        height: 1px;
        margin: 20px 0;

        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    }


    footer .bottom
    {
        margin-top: 20px;
        padding-top: 20px;
    }
}
