.swiper-button-next,
.swiper-button-prev
{
    position: absolute;
    top: -25px;
    right: 0;
    bottom: auto;

    display: block;

    width: 40px;
    height: calc(100% + 50px);
    margin: auto 0;

    transform: none;

    color: #52b36c;
    background: none;
}

.swiper-button-prev
{
    left: -40px;
}

.swiper-button-next
{
    right: -40px;

    background: var(--bg);
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next div,
.swiper-button-prev div
{
    position: absolute;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 38px;
    height: 38px;
    margin: auto;

    transform: translateX(-20px);

    color: #52b36c;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .45);

    inset: 0;
}

.swiper-button-prev div
{
    transform: translateX(20px);
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 8px;
    height: 14px;
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}


.swiper-button-disabled
{
    display: none;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: 24px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 13px;

    pointer-events: none;
}


.swiper-pagination-bullet
{
    position: relative;

    display: block;

    width: 13px;
    height: 13px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: .5;
    border-radius: 50%;
    background: #fff;
}

.swiper-pagination-bullet:before
{
    position: absolute;
    top: -3px;
    left: -3px;

    display: block;

    width: calc(100% + 6px);
    height: calc(100% + 6px);

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    border: 1px solid #10e048;
    border-radius: 50%;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 10px !important;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    opacity: 1;
    background: #10e048;
}

.swiper-pagination-bullet.active:before
{
    opacity: 1;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
